element.style {
    height: 100%;
    margin: 0px;
    background: #0e0e0e; 
}

body {
    display: block;
}

:root {
    view-transition-name: root;
}

html {
    display: block; 
}

head {
    display: none;
}

title {
    display: none; 
}

